*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background:#0b0b0b;
  color:#fff;
}

/* Navbar */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#000;
  position:sticky;
  top:0;
}
.logo{
  display:flex;
  align-items:center;
  gap:10px;
}
.logo img{
  width:45px;
}
.logo span{
  font-size:20px;
  font-weight:700;
  color:gold;
}
nav a{
  color:#fff;
  margin-left:20px;
  text-decoration:none;
}
nav a:hover{
  color:gold;
}

/* Hero */
.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
  url(images/g6.jpg) center/cover;
}
.hero h1{
  font-size:48px;
  color:gold;
}
.hero p{
  margin:15px 0;
}
.btn{
  padding:12px 25px;
  background:gold;
  color:#000;
  text-decoration:none;
  font-weight:600;
  border-radius:6px;
}

/* Gallery */
.gallery{
  padding:60px 40px;
  text-align:center;
}
.gallery h2{
  color:gold;
  margin-bottom:30px;
}
.gallery-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}
.gallery-grid img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
}
.gallery-grid img:hover{
  transform:scale(1.05);
}

/* Lightbox */
#lightbox{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,.9);
  justify-content:center;
  align-items:center;
  z-index:999;
}
#lightbox img{
  max-width:90%;
  max-height:90%;
}

/* Contact */
.contact{
  padding:50px;
  text-align:center;
  background:#111;
}
.contact h2{
  color:gold;
  margin-bottom:20px;
}

/* Footer */
footer{
  background:#000;
  padding:20px;
  text-align:center;
}
footer img{
  width:50px;
  margin-bottom:10px;
}
